.content {

    &>*:not(:first-child, [class*="swiper-button"]) {
        margin-top: 27px;
    }

    &__aside {
        gap: 25px;
    }

    &__item {
        list-style-type: circle;
        margin-left: 20px;
    }

    &__item:hover {
        list-style-type: decimal;
    }

    &__item::marker {
        color: var(--main__background);
    }
}

.content__max-width {
    max-width: 473px;

    @media (max-width:670px) {
        & {
            max-width: none;
        }
    }
}

.content-min {
    position: relative;

    &__title {
        @include title(14px, inherit);
    }

    &>*:not(:first-child) {
        margin-top: 9px;
    }

    &__margin {
        margin-right: 25px;
    }

    &__img {
        height: 125px;
    }

    @media (max-width:470px) {
        .img-left {
            width: 100px;
        }
    }

}